.title {
  display: flex;
  align-items: center;
  position: relative;
  margin: 10px 0 40px;
  width: 100%;
  white-space: nowrap;
  font-size: clamp(26px, 5vw, var(--fz-heading));
  color: var(--color-headings); /* Branco */
  font-weight: 600;
}

/* Linha após o título */
.line {
  content: '';
  display: block;
  position: relative;
  top: -1px; /* Ajuste fino vertical */
  margin-left: 15px; /* Ajustar margem se necessário */
  width: 300px; /* Ajustar largura conforme necessário */
  height: 1px;
  background-color: var(--color-background-light); /* Cinza escuro */
}

/* Ajuste para telas menores */
@media (max-width: 1080px) {
  .line {
    width: 200px;
  }
}

@media (max-width: 768px) {
  .line {
    width: 100%;
    margin-left: 10px; /* Reduzir margem */
  }
  .title {
    margin-bottom: 30px;
  }
}

@media (max-width: 600px) {
  .line {
      margin-left: 10px;
      width: auto; /* Deixar a linha ocupar o espaço restante */
      flex-grow: 1; /* Fazer a linha crescer */
  }
} 