.about {
  padding: 100px 0; /* Espaçamento vertical */
  max-width: 900px; /* Largura máxima do conteúdo */
  margin: 0 auto; /* Centralizar */
}

.content {
  display: grid;
  grid-template-columns: 3fr 2fr; /* Dividir em texto e imagem */
  gap: 50px;
}

.text p {
  color: var(--color-text);
  margin-bottom: 15px;
  font-size: var(--fz-lg); /* Ajustar tamanho se necessário */
  line-height: 1.5;
}

.text strong {
    color: var(--color-secondary);
    font-weight: 500;
}

.skillsList, .certificationsList {
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 200px));
  gap: 0px 10px;
  padding: 0;
  margin: 20px 0 0 0;
  overflow: hidden;
  list-style: none;
  font-family: var(--font-mono);
  font-size: var(--fz-sm);
  color: var(--color-text);
}

.skillsList li::before, .certificationsList li::before {
  content: '▹'; /* Ícone de seta */
  position: absolute;
  left: 0px;
  color: var(--color-primary);
  font-size: var(--fz-sm);
  line-height: 12px;
}

.skillsList li, .certificationsList li {
    position: relative;
    margin-bottom: 10px;
    padding-left: 20px;
}

.certificationsList {
    margin-top: 10px; /* Espaço antes da lista de certificados */
}

/* Estilos para a imagem */
.imageWrapper {
  position: relative;
  max-width: 300px;
  height: 300px; /* Definir altura fixa (igual à max-width para quadrado) */
  border: 2px solid var(--color-primary);
  border-radius: var(--border-radius);
  overflow: hidden;
}

/* Remover ou comentar estilos do placeholder */
/* .imagePlaceholder {
    width: 100%;
    padding-top: 100%; 
    background-color: var(--color-background-light);
    border-radius: var(--border-radius);
    border: 1px solid var(--color-primary);
} */

.profileImage {
  display: block;
  width: 100%;
  height: 100%; /* Fazer a imagem tentar preencher a altura do wrapper */
  border-radius: var(--border-radius);
  object-fit: cover; /* Preenche o container, mantendo aspecto e cortando excesso */
  /* filter: grayscale(100%) contrast(1.2) brightness(0.9); */
}

/* Media Query para layout em coluna em telas menores */
@media (max-width: 768px) {
  .content {
    grid-template-columns: 1fr; /* Uma coluna */
    gap: 30px;
  }
  .imageWrapper {
    margin: 40px auto 0;
    order: -1;
    max-width: 250px;
    height: 250px; /* Manter quadrado no mobile também */
  }
  .skillsList, .certificationsList {
    grid-template-columns: 1fr; /* Uma coluna para listas */
  }
  .about {
    padding: 80px 0;
  }
} 